<footer class="site-footer">
    <div class="barra container">
        <a href="../index.html" class="logo-contenedor">
            <img src="../assets/imgs/Logo_Final.png" alt="Logo Final">
            <p class="m0">Dino<span>King Games</span></p>
        </a>
        <div class="navegacion">
            <a href="../pages/jugar.html">Jugar</a>
            <a href="../pages/seguimiento.html">Seguimiento</a>
            <a href="../pages/nosotros.html">Nosotros</a>
            <a href="../pages/contacto.html">Contacto</a>
        </div>
    </div>
</footer>
